<div class="recommended-menu js-recommended-menu">
  <svg width="0" height="0">
    <clipPath id="recommended-menu-frame-clip">
      <path class="js-path" d=""></path>
    </clipPath>
  </svg>
  <div class="header js-drag">
    <p class="header__title">おすすめ</p>
    <div class="header__btn js-header__btn" data-btn="scale">
      <span></span>
    </div>
    <div class="header__btn js-header__btn" data-btn="close">
      <span></span>
    </div>
  </div>
  <div class="screen js-screen">
    <div class="screen__frame"></div>
    <div class="screen__test"></div>
  </div>
</div>